<section data-ng-controller="HomeController">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                <!--<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />-->
                <h1>משגררים</h1>
            </div>
        </div>
        <br>

        <div class="row">
            <p class="lead">
                היא שדרוג שיטת השיווק המודרנית
                קידום עניינים, יחסי ציבור, חשיפה וקידום מכירות
                באמצעות הגדלה משמעותיית של כמות האנשים שמשגררים
                ופועלים כסוכנים פרילנסיירים עבורכם
                במקצועיות ובדרכים מגוונות ויצירתיות
                לקידום המיזם שהעלתם
                בדרך הזולה, המהירה והיעילה ביותר !
            </p>
        </div>
        <div class="row">
            <p>
                <a class="btn btn-primary btn-lg" ui-sref="listProjects">לכל המיזמים</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>
                <strong>1. הרשמו / צרו מיזם</strong>
            </h2>

            <p>   
                העלה את המיזם שלך לMeshagririm . קבע יעד לשיווק ותאריך סיום לקמפיין. החלט על מדרגות שיווק והצע לתומכים
                תשורות( הטבות, הנחות, תשלום כספי ) פרסם טקסט, וידאו ותמונות המתארות אותך ואת הפרוייקט. מיזם שמועבר בצורה
                ברורה ומעניינת יכול להגיע רחוק .</p>
        </div>
        <div class="col-md-4">
            <h2>
                <strong>2. השק את הקמפיין .</strong>
            </h2>

            <p>
                א. פניה למשגררים הרשמיים של משגררים
                <br>
                ב. ע"י צירוף חברים, קרובים ומכרים בתור משגררים רשמיים . פנה לקהל דרך המייל הרשתות החברתיות והפורומים
                השונים. מומנטום התמיכה מתחיל תמיד מהמעגל הקרוב של היוצר, האנשים שמאמינים בו ורוצים לתמוך בו. אותו קהל
                תומכים יעזור לך להפיץ את המיזם ולהרחיב את מעגלי התמיכה וכן הלאה וכן הלאה.</p>
        </div>
        <div class="col-md-4">
            <h2>
                <strong>3. שגרור</strong>
            </h2>

            <p> שגרור נכון ורחב כל שיהיה יביא לחשיפה והצלחה יותר.
                ככל שיהיה מתגמל יותר כך יהיו יותר משגררים
                ש"ישגררו – יעבדו " עבורך ועבור המיזם שלך</p>
        </div>

    </div>
    <div class="well">
        <h2>לרשימת המיזמים הקיימים</h2>

        <p>
           בקרו במיזמים הקיימים:
        <ul>
            <li>
                <a href="">מיזמים חברתיים</a>
            </li>
            <li>
                <a href="">מיזמים כלכליים</a>
            </li>
            <li>
                <a href="">מיזמים בריאותיים</a>
            </li>
            <li>
                <a href="">מיזמים תיירותיים</a>
            </li>
            <li>
                <a href="">מיזמים תרבותיים</a>
            </li>
            <li>
                <a href="">מיזמים בתעשייה</a>
            </li>

        </ul>
        </p>
    </div>
    <br>Enjoy &amp; Keep Us Updated,
    <br>כל הזכויות שמורות לדותן.
</section>
