<section data-ng-controller="HomeController">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">

                <h1>משגררים</h1>

                <div class="row">
                    <p class="lead">
                        שיווק המונים
                    </p>
                </div>
            </div>
        </div>
        <br>
        <img alt="MEAN.JS" class="img-responsive text-center center-block thumbnail "
             src="modules/core/img/GlobalMarketing.png"/>

        <div class="row">
            <p class="lead">
                Meshagririm היא פלטפורמת גיוס חברתית
                שיווק המונים עבור פרוייקטים ומיזמים ראשונה מסוגה בישראל.

                שדרוג שיטת השיווק המודרנית
                קידום עניינים, יחסי ציבור, חשיפה וקידום מכירות
                באמצעות הגדלה משמעותיית של כמות האנשים שמשגררים
                ופועלים כסוכנים פרילנסיירים עבורכם
                במקצועיות ובדרכים מגוונות ויצירתיות
                לקידום המיזם שהעלתם
                בדרך הזולה, המהירה והיעילה ביותר !
                בו זמנית מתגמלת בכסף, בהנחות והטבות את המשגררים
                עבור שגרור ושיווק מיזמים באתר ע"פ תקנון האתר
            </p>
        </div>
        <div class="row">
            <p>
                <a class="btn btn-primary btn-lg" ui-sref="listProjects">לכל המיזמים</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>
                <strong>1. הרשמו / צרו מיזם</strong>
            </h2>

            <p>   
                העלו את המיזם שלך ל Meshagririm סמנו מטרה וקבעו יעדים להצלחת המיזם או תאריך סיום . צרו

                כתבו בקצרה על המיזם , צרפו תמונות , מומלץ לצרף סרטון וידאו . קראו וחתמו על תקנון האתר.

                קפיצות % הצלחה והצעו למשגררים תשלום כספי , הטבות, הנחות .

                חכו לאישור שגרור.</p>
        </div>
        <div class="col-md-4">
            <h2>
                <strong>2. השק את הקמפיין .</strong>
            </h2>

            <p>
                התחילו בפניה למשגררים הקרובים אליכם וצרפו אותם למעגל המשגררים הרשמיים של האתר .

                 שגררו את המיזם הפעילו חברים, מכרים, משפחה . פנו בכל האמצעים הטכנולוגיים והאמצעים הקיימים

                לרשותכם . רשתות חברתיות, פורומים, בלוגים, מיילים, אפלקציות ,שיחות אישיות, הפעלת קשרים .

                הפעלת מקושרים וכו'

                ברגע השקת המיזם באתר "משגררים" המיזם שלכם יזכה לחשיפה רחבה ומלאכת השיווק מתחילה

                המיזם ישוגרר בארץ ובעולם באמצעות משגררי האתר ותוכלו לעקוב בכל רגע נתון אחר המיזם, ולראות

                את המרחק למטרות והיעדים שהצבתם .</p>
        </div>
        <div class="col-md-4">
            <h2>
                <strong>3. שגרור</strong>
            </h2>

            <p>הצטרפו לצוות המשגררים ותהינו מרווחים לפי הצלחתכם והשקעתכם בשגרור המיזמים באתר . בתור

                משגררים פרילנסרים של האתר כדאי להשקיע בשיווק רחב ככל האפשר. לשגרר את המיזמים בכל דרך

                שעומדת באמצעותכם . הפעלת חברים, מכרים, משפחה . לפנות בכל האמצעים הטכנולוגיים והאמצעים

                הקיימים: רשתות חברתיות, פורומים, בלוגים, מיילים, אפלקציות , שיחות אישיות, הפעלת קשרים

                ומקושרים. תחשבו שיווק, תחשבו מכירות, תחשבו כמו לוביסטים, תפעילו את כול רשת הקשרים שבניתם

                במהלך חייכם, צרו רשת קשרים חדשה . העיקר לשגרר, לשגרר , לשגרר .

                תתחילו לצבור כסף, הנחות, הטבות לפי רמת השקעתכם והצלחתכם . (לפי תקנון האתר )

                בכל רגע נתון תוכלו לעקוב אחר הצלחתכם בשגרור המיזמים באתר .

                בהצלחה</p>
        </div>

    </div>
    <div class="well">
        <h2>לרשימת המיזמים הקיימים</h2>

        <p>
            בקרו במיזמים הקיימים:
        <ul>
            <li>
                <a href="">מיזמים חברתיים</a>
            </li>
            <li>
                <a href="">מיזמים כלכליים</a>
            </li>
            <li>
                <a href="">מיזמים בריאותיים</a>
            </li>
            <li>
                <a href="">מיזמים תיירותיים</a>
            </li>
            <li>
                <a href="">מיזמים תרבותיים</a>
            </li>
            <li>
                <a href="">מיזמים בתעשייה</a>
            </li>

        </ul>
        </p>
    </div>
    <br>Enjoy &amp; Keep Us Updated,
    <br>כל הזכויות שמורות לדותן.
</section>
