<pre>
    שלום וברוכים הבאים לאתר ל"שיווק המוני" "משגררים" .

 פלטפורמת גיוס חברתית שיווק המונים עבור פרויקטים ומיזמים ראשונה מסגה בישראל .שדרוג שיטת השיווק

המודרנית. קידום עניינים, יחסי ציבור, חשיפה וקידום מכירות באמצעות הגדלה משמעותית של כמות האנשים

שמשווקים/משגררים ופועלים כסוכנים פרילנסיירים עבורכם במקצועיות ובדרכים מגוונות ויצירתיות לקידום

המיזם שהעליתם בדרך הזולה, המהירה והיעילה ביותר! ע"פ תקנון האתר.

השימוש באתר זה הינו בכפוף להוראות התקנון כמפורט להלן. 

תקנון זה מוסיף על יתר התקנונים הפרטניים המופיעים באתר במידה ומצורף לכל מיזם בנפרד ומצוין  בתיאור

המיזם  . במקרה של סתירות או אי התאמות בין תנאי תקנון זה לבין תנאי התקנונים הפרטניים האמורים, יגבר

האמור בתקנונים הפרטניים בכל מיזם על האמור בתקנון כללי .

1. הגדרות בתקנון זה, יהיה לכל מונח שבסעיף זה הפירוש הניתן בצדו להלן והוא כשאין כוונה אחרת

משתמעת מתוכן העניין או מהקשר הדברים:

א. "האתר" – אתר האינטרנט הפועל בכתובת  www.meshagririm.com

ב. האתר מקשר בין יזמים/מקדמים/ משווקים וכד'  לבין משווקים/משגררים/רוכשים/קונים/בעלי עניין וכד' על ידי

משגררים ושגרירים.

ג. ההתקשרויות מתבצעות ישירות בין ה"יזמים/ספקים" לבין ה"רוכשים"

ד. מנהל האתר והבעלים לא מהווה צד כל שהוא בעיסקאות ואין לו אחריות כל שהיא למיזמים/עיסקאות.

ה. המשגררים, השגרירים, הספקים, הרוכשים וכל המשתמשים באתר משגררים חייבים להיות רשומים באתר.

ו. כל הרשומים/היזמים/המשגררים באתר יירשמו תוך מתן פרטי זיהוי מאומתים .

כללי:

1. השימוש באתר ובתכנים שבו ניתנים לשימוש כמות שהם (AS IS) בהתאם להחלטות אתר משגררים, ולא תהא

לך כל טענה, תביעה או דרישה כלפי אתר משגררים/בעלי האתר/מפעלי האתר בגין השימוש, המגבלות או

התגובות שיעורר הפרסום באתר ובמכשירי הקצה. השימוש, אפוא, בתכנים המוצגים באתר, במכשירי הקצה

ובשירותי האתר ייעשו על אחריותך הבלעדית והמלאה. המידע המופיע באתר אינו בגדר המלצה להשתתף

במיזמים המפורטים באתר, ואין להסתמך על המידע המופיע באתר מבלי לוודא את נכונותו וחוקיותו.

2. כל פעולה באמצעות האתר כפופה לתנאים המפורטים בתקנון זה. הגשת מיזם ו/או הרשמה לשגרור באתר

ייחשבו כהסכמה לתנאים הכלולים בתקנון זה. לתשומת לבך, משגררים, שומרת לעצמה את הזכות לשנות, לפי

שיקול דעתה, וללא קבלת הסכמת המשתמש, את תנאי השימוש באתר. בכל כניסה לאתר, ניתן יהיה לקרוא את

תנאי השימוש בגרסתם העדכנית ביותר באמצעות קישור זה - לתקנון. בכל שאלה הנוגעת לשימוש באתר

האינטרנט ניתן לפנות לנציגי האתר באמצעות כתובת דואר אלקטרוניmeshagririm@gmail.com  ונעשה

כל שביכולתינו לטפל בפניותכם בצורה הטובה והמהירה שנוכל .

3. האמור בתקנון זה מתייחס באופן שווה לבני שני המינים, והשימוש בלשון זכר הוא מטעמי נוחות בלבד.

4. אין באמור בתקנון זה כדי לגרוע מהוראות חוק הגנת הצרכן, התשמ"א – 1981 (להלן: "חוק הגנת הצרכן")

למעט במקרים בהם ניתן להתנות על הוראות כאמור והתניה כאמור בוצעה, במסגרת תקנון זה ו/או השימוש

והתקנות אשר הותקנו מכוחו, ככל שהן חלות על מפעילת האתר (להלן: "ההוראות"),

באתר אם במפורש ואם במשתמע.

5. מפעילת האתר רשאית לעדכן את תנאי התקנון והוראותיו מעת לעת.

6. אין לעשות באתר או באמצעותו כל שימוש שלא כדין ולמטרות בלתי חוקיות.

7. הרישום באתר הוא לשימושו האישי והבלעדי של המשתמש, אשר אינו רשאי להעביר את הרשאת השימוש

לדייק לחלוטין בכל הפרטים האישיים הנדרשים לצורך הרישום ולצורך הקשר השוטף של המשתמש עם

לאדם אחר כלשהו. חלה חובה על המשתמש באתר

מפעילת האתר.

8. אין לפרסם או להעביר באמצעות האתר כל מידע שהוא שקרי, מעליב, משמיץ, מאיים, פוגע בפרטיות הזולת,

פורנוגרפי, בעל אופי מיני, גזעני או בלתי חוקי.

9. המשתמש הוא האחראי באופן בלעדי לנכונות המידע אותו הוא מפרסם או מעביר באמצעות האתר. מפעילת

האתר אינה מקבלת על עצמה כל אחריות לתכנים המפורסמים ו/או המועברים בין המשתמשים באתר.

10. כל קשר וירטואלי או אחר של משתמש עם מי מהמשתמשים האחרים באתר, וזאת בין בהתכתבות או בצ'ט

מובהר בזאת כי בשום מקרה לא תהיה למפעילת האתר כל אחריות לתוצאות כל קשר כאמור ובפרט לנזקים

ובין במסגרת "פגישות אמת", הן באחריותו המוחלטת והבלעדית של המשתמש.

פיזיים ו/או נפשיים ו/או כספיים ו/או רגשיים ו/או כל נזק אחר הנובעים מקשר כמפורט לעיל.

11. מפעילי האתר מצהירים בזאת כי אין ביכולת מפעילי האתר להתחייב לזמינות רצופה ללא תקלות וללא

מפעילי האתר רשאים להפסיק את השימוש באתר מעת לעת לצורכי תחזוקתו וארגונו. לא יינתן כל פיצוי כספי,

"נפילות" בעת השימוש באתר. 

ו/או זיכוי ו/או כל פיצוי אחר, בשל תקלות או הפסקות בשירות בעת השימוש באתר.

12. כל זכויות הקניין הרוחני וזכויות היוצרים באתר ו/או בקשר אליו הן של מפעילת האתר.

13. מפעילת האתר אינה אחראית לתוכן מודעות ו/או"באנרים"ו/או כל חומר פרסומי אחר המופיע באתר,

האחריות לכך חלה על המפרסמים בלבד.

14. המשתמש מתחייב לפצות ו/או לשפות את מפעילת האתר בגין כל הוצאה ו/או נזק שייגרמו לה עקב הפרת

הוראות תקנון זה.

15. מובהר בזאת כי כל המיזמים באתר, מוצעים על ידי הספקים השונים ולא על ידי מפעילת האתר עצמה.

בכפוף להוראות כל דין, האחריות למכירת המוצרים ו/או השירותים אספקתם, גביית הכספים, מתן אחריות,

מתן שירות וכדומה, מוטלת על הספקים באופן בלעדי ומוחלט.

16. אתר משגררים פלטפורמת שיווק המוני המקשרת ומאפשרת לקבל  תגמול בכסף, בהנחות, ובהטבות

מיוצר/בעל המיזם באתר משגררים, ע"פ הסכם /תקנון פרטני  שיפורסם ע"י יוצר/בעל המיזם בסמוך להעלאת

המיזם באתר משגררים . ע"פ הסכם ועם סגירתה של עסקה/מיזם, כל עסקה/מיזם באופן נפרד שהושלמה דרך

אתר משגררים וקיבלה את אישור יוצר/בעל המיזם על השלמת העסקה  יזכה את משגררי האתר ו/או אחד

ממשגרר שיוכיח באופן חוקי ויציג מסמכים חוקים בכתב המראים במפורשות וללא משוא פנים שהוא הגורם

המשפיע לסגירת העסקה/מיזם, יוכל לקבל את חלקו מהתגמול שנקבע בתקנון המיזם ע"י יוצר/בעל המיזם .

 אתר משגררים/מנהל האתר/הבעלים לא מהווה צד כל שהוא במיזמים או בעיסקאות שנערכות ומפורסמות

באתר משגררים ואין לו אחריות כל שהיא למיזמים/עיסקאות שמפורסמים באתר משגררים .

17. מיזם שהועלה ע"י יוצר/בעל מיזם באתר משגררים תסתיים בהתקיים

 א.סגירה יזומה על ידי הלקוח

ב. השלמת המיזם/עסקה ואישור יוצר/בעל המיזם.

ג.סגירה של מיזם/עסקה מכוח הוראה עתידית שמסר הלקוח

ד. הגיע מועד פקיעת המיזם

18.מפעילת האתר לא קשורה בשום אופן במיזמים, אינה אחראית לכשירותם, אמינותם או נכונותם בכל רגע

נתון בעת פרסומם באתר.

19. אתר משגררים רשאים לסרב לפרסם תכנים אשר לדעתם מפרים מי מהתנאים הנ"ל ו/או עלולים לפגוע

באתר ו/או בצד שלישי כלשהו, והם רשאים למחוק תכנים כאלו בכל עת.

20. במשלוח תכנים לפרסום באתר "משגררים" הנך מקנה "לאתר משגררים " רשיון חינם שאינו מוגבל בזמן,

להציג, לשכפל, להעתיק, להפיץ, לשווק ולעשות בתכנים כל שימוש אחר לפי שיקול דעתה (ראה הרחבה תחת

הכותרת "קניין רוחני", להלן). משמעותו של דבר היא שאינך זכאי, ולא תהי מדיניות ניהול מודעות באתר

.החברה רשאית לבטל/לשנות/לערוך כל מודעה באתר, לפי שיקול דעתה . החברה שומרת לעצמה את הזכות

לא לאשר לפרסום באתר נוסח של מיזם/מודעה שאינם ראוים ו/או אינו עומד בסטנדרטים של האתר ואינך זכאי

21. כל השירותים אשר ניתנים על ידי צד שלישי באתר וכל שירות קיים ו/או עתידי שיוצע לגולשים באתר

("שירותי צד שלישי"), הינו באחריותם הבלעדית של הצדדים השלישים המפעילים אותם, והקבוצה לא תישא

בכל אחריות לנזק, אובדן, חסרון כיס, עוגמת נפש וכל נזק אחר מכל מין וסוג שהוא שייגרם לגולש כתוצאה

22. שימושך באתר, כמו גם שימושם של גולשים אחרים, עשוי להביא לאיסוף מידע ונתונים אודות סוג הפעילות

אותה ביצעת באתר כדוגמת פרסום מיזם/שגרור מיזם השתתפות בקמפיין וכו'  באתר, עיון בעמודים/מדורים

ספציפיים המופיעים באתר, תשובותיך למשאלים המתפרסמים באתר בדבר העדפותיך בכל הקשור לאתר

בעתיד, לכל תשלום שהוא בגין מיזם/מודעה כלשהם  באתר " משגררים ".

מהשימוש בשירותי הצד השלישי

עצמו וכיו"ב

23. בעת הרשמה על המשתמש לסמן באם הוא מוכן לקבל חומר פרסומי. ככל שהמשתמש יסכים לכך, החומר

הפרסומי יועבר אליו בדואר אלקטרוני ו/או במסרון הודעת טקסט.

המשתמש יהיה רשאי להודיע על רצונו בהפסקת קבלת החומר הפרסומי בכל עת .

תנאי השימוש באתר

רשאי להשתמש באתר כל משתתף אשר יקיים את התנאים הבאים במצטבר:

1. תושב ישראל אשר מלאו לו 18 שנים וברשותו חשבון בנק פעיל, תעודת זהות ו/או דרכון בתוקף. הרשמה

לביצוע פעולות באתר מהווה הצהרה מצד המשתמש, כי גילו של המשתמש מעל 18 שנה.

2. ברשותו כתובת דואר אלקטרוני ברשת האינטרנט, מספר טלפון פעיל להתקשרות . ומומלץ כרטיס אשראי

בתוקף אשר ניתן לסליקה על ידי אחת מחברות האשראי הפועלות בישראל כדין, ותקף ביום ביצוע הפעולה.

3.  מטעמם לא יהיו אחראים לכל נזק מכל סוג שהוא, עקיף או ישיר,

שייגרם למשתמש ו/או למי מטעמו בשל שימוש כלשהו באתר ו/או באם מידע כאמור יאבד ו/או אם יעשה בו

שימוש לא מורשה.

4. המשתמש מתחייב לפצות ו/או לשפות את מפעילת האתר בגין כל הוצאה ו/או נזק שייגרמו לה עקב הפרת

הוראות תקנון זה.

ברירת הדין וסמכות שיפוט

הדין החל על המיזמים/השגרורים ועל תקנון זה, הוא הדין הישראלי בלבד. דיני מדינת ישראל יחולו על תנאי

שימוש אלו ועל כל הנובע מהם או הכרוך בהם וכן יפורשו על פיהם. כל סכסוך ו/או שאלה משפטית אשר

תתעורר ביחס לתנאי שימוש אלו תתברר בערכאה השיפוטית המוסמכת בחדרה בלבד (דהיינו: בית משפט

השלום בחדרה ) .
</pre>
